{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_conversation_tags %}

{% block sub_title %}{% trans "Disapprove post" %}{% endblock sub_title %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="card topic-lock">
	            <div class="card-header">
	                <h3 class="card-title">{% trans "Disapprove post" %}</h3>
	            </div>
	            <div class="card-body">
	            	<div class="warning-message">{% trans "Are you sure you want to disapprove this post? This post will be deleted." %}</div>
				    <form action="" method="post">{% csrf_token %}
				        <input type="hidden" name="post" value="yes" />
				        <input type="submit" value="{% trans "Yes" %}" class="btn btn-warning" />
				        <a href="{% url 'forum_moderation:queued_post' post.pk %}" class="btn">{% trans "No" %}</a>
				    </form>
	            </div>
			</div>
		</div>
	</div>
{% endblock content %}
